<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leads</title>
  <link rel="stylesheet" href="/css/leads.css"> 
    
</head>
<body>
  <div class="container">
    <h1>Gestión de Leads</h1>

    <form action="/leads" method="POST">
      <input type="hidden" name="id_usuario" value="<%= id_usuario %>">
      <div class="form-grid">
        <input type="text" name="nombre" placeholder="Nombre" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="telefono" placeholder="Teléfono" required>
        <input type="text" name="estado" placeholder="Estado" required>
        
        <% if (user.rol === 'admin' || user.rol === 'admin1') { %>
          <div class="select-container">
            <select id="asignar_a" name="asignar_a">
              <option value="">Seleccionar vendedor...</option>
              <% vendedores.forEach((vendedor) => { %>
                <option value="<%= vendedor.id %>"><%= vendedor.nombre %></option>
              <% }); %>
            </select>
          </div>
        <% } %>
      </div>

      <button type="submit" class="button">Agregar Lead</button>
    </form>

    <h2>Lista de Leads</h2>
    <ul class="leads-list">
      <% leads.forEach(lead => { %>
        <li class="lead-item">
          <div class="lead-content">
            <div class="lead-info">
              <span class="lead-name"><%= lead.nombre %></span>
              <p class="lead-details"><%= lead.email %> - <%= lead.telefono %> - <%= lead.estado %></p>
              <p class="lead-note">Nota: <%= lead.nota ? lead.nota : 'Sin nota' %></p>
            </div>
            <div class="lead-actions">
              <form action="/leads/update/<%= lead.id %>" method="POST">
                <select name="nuevo_estado">
                  <option value="En Proceso" <%= lead.estado === 'En Proceso' ? 'selected' : '' %>>En Proceso</option>
                  <option value="Cerrado" <%= lead.estado === 'Cerrado' ? 'selected' : '' %>>Cerrado</option>
                  <option value="Pendiente" <%= lead.estado === 'Pendiente' ? 'selected' : '' %>>Pendiente</option>
                </select>
                <textarea name="nota" placeholder="Agregar nota..."><%= lead.nota %></textarea>
                <button type="submit" class="button button-green">Actualizar</button>
              </form>
            </div>
          </div>
        </li>
      <% }); %>
    </ul>
  </div>
</body>
</html>